body {
  font-family: 'Baloo Bhaina', cursive;
  background: #EEEBD3;
  color: #437C90;
  font-size: 1.85em;
}

hr {
  border: 1px solid #437C90;
}

#sloth-img {
  display: none;
}

.list-group-item {
  background: #437C90;
  color: #EEEBD3;
}